{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!Se define el título de la página>
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
</head>
<!Definición del cuerpo del HTML>
<body class="flex flex-col min-h-screen">
    <div class="grow">
        <!Comprobación de si hay mensajes>
        {% if messages %}
        <!Bucle para iterar sobre los mensajes. Si los hay se muestran en la parte superior>
            {% for message in messages %}
                <div 
                    x-data="{ show: true }"
                    x-init="setTimeout(() => show = false, 4000)"
                    x-show="show">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <!Barra de navegación con links a otras partes de la página>
        <nav class="bg-blue-600 x-data:{open: false}">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <div class="hidden md:block">
                                <div class="ml-4 flex items-baseline space-x-2">
                                    <a class="bg-blue-400 rounded-md px-3 py-2 text-sm font-medium" 
                                        href="{% url 'medialib:home' %}">🏠
                                    </a>
                                    {% if not user.is_authenticated %}
                                    <a class="bg-blue-400 rounded-md px-3 py-2 text-sm font-medium" 
                                        href="{% url 'medialib:create.user' %}"> Register </a>
                                    <a class="bg-blue-400 rounded-md px-3 py-2 text-sm font-medium" 
                                        href="{% url 'medialib:login' %}"> Login </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:flex items-center space-x-2">
                        {% if user.is_authenticated %}
                        <!--Botón de logout-->
                            <form method="POST" action="{% url 'medialib:logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="text-white hover:bg-blue-700 px-3 py-2 rounded-md text-sm font-medium">Logout</button>
                            </form>
                            <a class ="bg-blue-400 rounded-md px-3 py-2 text-sm font-medium" href="{% url 'medialib:dashboard' user.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                                </svg>
                            </a>
                        {% endif %}   
                    </div>
                </div>
            </div>
        </nav>
        <main>
            {% if user.is_authenticated%}
            <div class="max-w-xl mx-auto mt-4 px-4">
                <!-- Search form 
                    Search bar for searching videogames
                    The user must enter the name of the videogame they want to search for and submit the form
                    The form makes a get request to the search results view with the search query (the videogame name) as a parameter
                -->
                <div>
                    <form method="GET" action="{% url 'medialib:search.results' %}">
                        <div class="flex items-center border border-gray-300 rounded-lg overflow-hidden focus-within:ring-2 focus-within:ring-blue-500">
                            <div class="pl-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                            </div>
                            <input type="search" id="search" name="search" placeholder="Search videogame..." class="w-full px-3 py-2 focus:outline-none bg-transparent">
                            <button type="submit" class="px-4 py-2 bg-blue-500 text-white hover:bg-blue-600 transition-colors">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
            {% block content %} 

            {% endblock %}
        </main>    
    </div>
</body>
</html>